# Virtual environment
venv/
env/
.venv/

# Django database
db.sqlite3

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.env.*
*.env

logs/


# Media files
media/exports/
media/bulk_uploads/
media/*.pdf
media/*.csv
media/*.xlsx
